/node_modules
/public/hot
/public/storage
/public/css
/public/js
/public/vendor
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
npm-debug.log
yarn-error.log
/.idea
/.vscode
.vapor/
.env.production
.env.staging
.env.qa
.env.uat
public/mix-manifest.json
.vagrant/
Vagrantfile
aliases
.DS_Store
public/.DS_Store
public/images/.DS_Store
public/images/svg/.DS_Store
/.vscode
